<h4>Welcome to Server Manager 4.0</h4>
<p>Manage your Servers and Users.</p>
<button class="btn btn-primary" (click)="onLoadServers()">Load Servers</button>

<p>
  NB in quest ultimo commit ho fatto piccole modifiche all user component,
  relative al routing...se hai qualche problema quando vai avanti con la
  prossima lezione, torna indietro al penultimo commit....nb i cambi sono
  slight....praticamente users components fa vedere l user solo se ci clicki
  sopra dalla lista degli users (ho reso gli users della list clickabili e
  collegati con un path per renderizzarli, al click, tramite l user component)
</p>
